body{
	font-family: GT America;
	margin:0;
	padding:20px;
	background-color: #ffffe6;/* #ffffcc;*/ /*#ffe6e6;*/ /*#f1f1f1;*//*#ffffff;*/
  
}

nav{font: normal 16px GT America;}

#intro{
  font-family: GT America;
  letter-spacing: 1px;
  border-bottom: 1px solid red;
  position: absolute;
  padding-top: 0px;
}

.navbar{font: normal 16px GT America;}

#name{padding-left: 1px;}

.sidenav {
  width: 250px;
  height: 250px;
  position: fixed;
  z-index: 1;
  top: 80px;
  left: 30px;
  /*background: #eee;*/
  /*overflow-x: hidden;*/
  padding: 8px 0;
}

.image {
  float: left;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.image:hover {
  opacity: 0.3;
}

#image1 {

  opacity: 1;
  width: 70px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

#image1:hover {
  opacity: 0.01;
}
#fav{
  padding-left: 8px;
  padding-top: 7px;
  width: 45px;
  height: 45px;
}

*{
	box-sizing: border-box;
}

.row:after{
	content: '';
	display: table;
	clear: both;
}


.left-column{
position: fixed;
float: left;
width: 30%;	
padding-top: 112px;
padding-left: 30px;
padding-right: 30px;
text-align: justify;
}

.right-column{
 width: 70%;
 float: right;
 padding-top: 40px;
 padding-right:30px;
 
 text-align: justify;


}

.card{
	
	background-color: #ffffe6;/*#ffffcc;*/ /*#ffe6e6;*/ /*#ffffff*/
  margin-top:20px;
}

.card img{
	width: 100%;
}


.right-column .card img{
	margin-bottom: 10px;
}

.left-column .card img{
	height: 300px;
}


footer{
	background-color: #ffffe6;/*#ffffcc;*/ /*#ffe6e6;*/ /*#dddddd;*/
	padding: 20px;
	text-align: center;
	margin-top: 20px;
}

/*responsive */

@media(max-width:800px){

	.left-column,.right-column{
    width: 100%;
    /*padding: 50px; */
    position: relative;}

    .left-column{
      padding: 50px;
    }

    .right-column{
      padding: 20px;

    }

    #intro{text-align: center; position: absolute; left: 33.5%;}


    #name{text-align: center;}

  .left-column .card img{
    border-radius: 5px;}

  .right-column .card{margin-top: 5px;}

}

 



.button {
  display: inline-block;
  border-radius: 4px;
  background-color: green; /*#f4511e*/
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 130px;
  height: 60px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  opacity: 0.6;
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:hover {
  opacity: 1;
}

.button1 {
  display: inline-block;
  border-radius: 4px;
  background-color: red; /*#f4511e*/
  border: none;
  color: white; /*#FFFFFF*/
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 130px;
  height: 60px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  opacity: 0.6;
  
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  
}

.button1 span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
  
}

.button1:hover span {
  padding-left: 25px;

}

.button1:hover span:after {
  opacity: 1;
  left: 0;
}

.button1:hover {
  opacity: 1;
}

