body{
	font-family: GT America;
	margin:0;
	/*padding:100px;*/
  padding-top: 70px;
	background-color: #c2c2d6;/*#d1d1e0;*//*#ffe6e6;*/ /*#f1f1f1;*/ /*#ffffff;*/

}

nav{font: normal 16px GT America;}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/*body {
  padding-bottom: 40px;
  color: #5a5a5a;
}
*/
#fav{
  padding-left: 8px;
  padding-top: 7px;
  width: 45px;
  height: 45px;
}

.image {
  float: left;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .3s ease;
  backface-visibility: hidden;
}

.image:hover {
  opacity: 0.3;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}




/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
 /* height: 500px;
  margin-bottom: 60px;*/
  background-color: #d9d9d9;/*#e6e6e6;*/ /*#f2f2f2;*//*#f1f1f1;*/
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 150px;
  padding-right: 150px;
  text-align: justify;
}
 Since positioning the image, we need to help out the caption 
.carousel-caption {
  z-index: 10;
}

 Declare heights because of positioning of img element 
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel .col-lg-4 {
  margin-bottom: 10px;
  text-align: center;
}
.carousel h2 {
  font-weight: normal;
}
.carousel .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

footer{
  /*background-color: white; #dddddd;*/ /*#ffffe6;*//*#ffffcc;*/ /*#ffe6e6;*/ 
  /*padding: 20px;*/
  text-align: center;
  margin-top: 50px;
}
 
 #top{
  
  font-size: 50px;
  
  text-transform: uppercase;
}
#para{margin-left: 26%; font-size: 18px; padding-bottom: 8px;}
#sec{color: #006600;}

.img-square{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.22);}

.img-circle{ box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

.btn{
  color: green;
}

#span{color: #b30000;}

/*responsive */

@media(max-width:800px){ 

#para{ font-size: 15px; padding-bottom: 8px; letter-spacing: 1px; margin-left: 18%; margin-right: 18%; text-align: justify;}
#para1{padding-left: 110px;}
#bottom{padding-bottom: 500px;}


 /* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
 /* height: 500px;
  margin-bottom: 60px;*/
  background-color: #d9d9d9;/*#e6e6e6;*/ /*#f2f2f2;*//*#f1f1f1;*/
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}
 Since positioning the image, we need to help out the caption 
.carousel-caption {
  z-index: 10;
}

 Declare heights because of positioning of img element 
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel .col-lg-4 {
  margin-bottom: 10px;
  text-align: center;
}
.carousel h2 {
  font-weight: normal;
}
.carousel .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

}




