/* Nav Bar 

.container{
      padding-top: 10px;
      margin: 100px auto;
    }

    .navbar-inverse .navbar-nav>li>a {
    font-size: 20px;
  }  
    /*color: #2c3e50;*/


/*
.container-fluid{
  padding-top: 0;

  padding-bottom: 0;
}

/*


.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-brand {
  font-size: 20px;
    color: white;*/
/*}*/



/*@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');*/

/*
body {
  font-family: 'Raleway', sans-serif;
  height: 115vh;
  background: #333 url('computer.jpg') no-repeat center center/cover;
  color: #ccc;
  overflow:hidden;

}

*/

/*body{
    background: url('computer.jpg');
    background-size: cover;
    background-position: center; 
}*/

/*body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    color: black;
}*/

.container1 {
  
  
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
}

#type{
	color: white;
  font-weight: 300;
  margin: 0.4rem;
}

#type{
  font-size: 18px;
}

/*h2 {

  font-size: 2rem;
  color: #111;
  font-weight: 450;
}
*/
/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid white;
}

@media(min-width: 1200px) {
  #type{
    font-size: 18px;
  }
}

@media(max-width: 800px) {
  .container1 {
    padding: 0 1rem;
  }

  #type{
    font-size: 18px;
  }
}

@media(max-width: 500px) {
  #type{
    font-size: 18px;
  }

  
}